{% extends "layout.html" %}
{% block body %}
    <main>
        <div class="container bg-light">
            <h3 class="text-center">
                {{message}}
            </h3>
            <div class="list-group">
                {%for item in data%}
                <a href='/isbn/{{item.isbn}}' class="list-group-item list-group-item-action">
                    <h6 class="text-primary">{{item.title}}</h6>
                    by {{item.author}} in {{item.year}}
                    <h6 class="float-right">ISGN: {{item.isbn}}</h6>
                </a>
                {%endfor%}
            </div>
        </div>
    </main>
{%endblock%}