<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="style.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <title>Bookstore</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="float-right">
                <a href="{{url_for('index')}}">Homepage</a>
                {{ username }}
            </div>
            <div class="float-left">
                 <!--на рабочем столе-->
                 <a href="{{url_for('login')}}">Login</a>
                <a href="{{url_for('register')}}">Register</a>
                <a href="{{url_for('logout')}}">Logout</a> 
                 
            </div>
        </div>
        <header>
            <div class="container-fluid h-25 text-center">
               <h1 class="display-1 py-4"> Bookstore </h1>
            </div>
        </header>
        <nav class="navbar navbar-dark navbar-expand justify-content-center bg-dark">
            <form class="form-inline" action="{{url_for('index')}}" method='POST'>
                <input class="form-control mr-sm-3" type="text" placeholder="Search" name='text'>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <div class="container h-30">
            {%block body%}
            {%endblock%}
        </div>
    </body>
</html>