{% extends "layout.html" %}
{% block body %}


<div class='w-50 mx-auto my-2 p-1 text-center container'>{{log_in_message}}</div>
    <div class='row no-gutters container' style="text-align: center">
        <div class='col p-12'>
    <form class='form-inline border border-danger p-3 bg-light' action="{{url_for('login')}}"  method="post">
             <legend class='text-center '>Log In</legend>
            <input class='form-control w-50 m-1' type="email" name="emailLogIn" required> E-mail
            <input class='form-control w-50 m-1' type="password"  name="userPasswordLogIn" required>Password 
            <button class="btn btn-success m-1 w-100" type="submit">Log in</button>
    </form>
    </div>
    </div>
</div>

{%endblock%}